/* Footer.css */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 7px;
  text-align: center;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hours {
  margin-bottom: 10px;
}

.gym-name {
  font-weight: bold;
}
