html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right top, #27005d, #9400ff);
}

.about-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100vh;
  margin-top: 2.2rem;
  color: white;
}

.goals-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.goals-section .text-content {
  width: 50%;
}

.goals-section .image-content {
  width: 50%;
  margin-left: 50px;
}
