.mission {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.history {
  background-color: #eaeaea;
  padding: 20px;
  margin-bottom: 20px;
}

.team {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

h1,
h2 {
  color: #333;
}

p {
  line-height: 1.5;
  color: #666;
}
