.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.pricing-title {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pricing-description {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.membership-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 40px;
  height: 800px;
  width: 100%;
  text-align: center;
  color: white;
}

.membership-card p {
  font-size: 24px;
  color: rgb(181, 129, 231);
  margin-bottom: 20px;
  margin-top: 10px;
}

.membership-card ul {
  list-style: none;
  padding: 0;
  margin: 2px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;
}

.card-image {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.price {
  font-size: 24px;
  color: #333;
}

.card-button {
  align-self: center;
  margin-top: auto;
  width: 75%;
  padding: 10px 0;
  background-color: var(--tertiary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.card-button:hover {
  background-color: var(--tertiary-color-dark);
}
/* Home.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
}

section {
  margin-bottom: 30px;
}

h3 {
  color: #555;
}

p {
  color: #777;
}

.pricing-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #9400ff;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
