.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}

.navbar-left,
.navbar-right {
  flex: 1;
}

.navbar-center {
  flex: 2;
  text-align: center;
}

.navbar-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar-center ul li {
  display: inline;
}
