.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons a {
  font-size: 2em;
  margin-right: 20px;
}

.footer-center img {
  height: 150px;
  width: auto;
}

.footer-left a {
  color: #15f5b9;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-left a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    margin-bottom: 20px;
  }
}

/* Footer.css */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 7px;
  text-align: center;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hours {
  margin-bottom: 10px;
}

.gym-name {
  font-weight: bold;
}
