body {
  background-image: linear-gradient(to right top, #211951, #836fff);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 150vh;
}

:root {
  --primary-color: #211951;
  --secondary-color: #836fff;
  --tertiary-color: #15f5ba;
  --tertiary-color-dark: #0d9e7e;
}
